{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">
                Guardar
            </button>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del club</th>
                    <th scope="col">Año de fundación</th>
                    <th scope="col">Presidente</th>
                    <th scope="col">Ciudad</th>
                </tr>
            </thead>
            <tbody>
                {% for i in objects %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ i.name }}</td>
                    <td>{{ i.foundation_year }}</td>
                    <td>{{ i.owner }}</td>
                    <td>{{ i.city }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}