{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">

        <form action="" method="post" id="formFC">
            {{ form.as_p }}
        </form>
        <button class="btn btn-primary" onclick="sendForm()">
            Guardar
        </button>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del club</th>
                    <th scope="col">Año de fundación</th>
                    <th scope="col">Presidente</th>
                    <th scope="col">Ciudad</th>
                </tr>
            </thead>
            <tbody id='elementos'>
                {% for i in objects %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ i.name }}</td>
                    <td>{{ i.foundation_year }}</td>
                    <td>{{ i.owner }}</td>
                    <td>{{ i.city }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>0</td>
                    <td>Vacio</td>
                    <td>Vacio</td>
                    <td>Vacio</td>
                    <td>Vacio</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


{% block extrajs %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    const sendForm = async () => {
        try {
            const form = new FormData(document.getElementById('formFC'));
            const body = document.getElementById('elementos')
            const res = await fetch('/form/', {
                method: 'POST',
                body: form,
                headers: {
                    'X-CSRFToken': csrftoken,
                    'X-Requested-With': 'XMLHttpRequest',
                }
            })
            const data = await res.json()
            const objects = data.objects.map(i => `
            <tr>
                <th scope="row">${i.id}</th>
                <td>${i.name}</td>
                <td>${i.foundation_year}</td>
                <td>${i.owner}</td>
                <td>${i.city}</td>
            </tr>
            `).join('')
            body.innerHTML = objects
        } catch (error) {
            console.log(error);
        }
    }
</script>
{% endblock %}