{% extends 'base.html' %} {% load static %}

{% block content %}
<div class="container">
    <div class="row">

        <form action="" method="post" id="formFC">
            {{ form.as_p }}
        </form>
        <div>
            <button style='width:100px; height:30px;' class="btn btn-primary btn-sm" onclick="sendForm()">
                Guardar
            </button>
            &nbsp;
            <hr>
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre del club</th>
                        <th scope="col">Año de fundación</th>
                        <th scope="col">Presidente</th>
                        <th scope="col">Ciudad</th>
                    </tr>
                </thead>
                <tbody id='elementos'>
                    {% for i in objects %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.name }}</td>
                        <td>{{ i.foundation_year }}</td>
                        <td>{{ i.owner }}</td>
                        <td>{{ i.city }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>0</td>
                        <td>Vacio</td>
                        <td>Vacio</td>
                        <td>Vacio</td>
                        <td>Vacio</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block extrajs %}
<script src="{% static 'js/csrf.js' %}"></script>
<script>
    const sendForm = async () => {
        try {
            const form = new FormData(document.getElementById('formFC'));
            const body = document.getElementById('elementos')
            const res = await fetch('/form/', {
                method: 'POST',
                body: form,
                headers: {
                    'X-CSRFToken': csrftoken,
                    'X-Requested-With': 'XMLHttpRequest',
                }
            })
            const data = await res.json()
            const objects = data.objects.map(i => `
            <tr>
                <th scope="row">${i.id}</th>
                <td>${i.name}</td>
                <td>${i.foundation_year}</td>
                <td>${i.owner}</td>
                <td>${i.city}</td>
            </tr>
            `).join('')
            body.innerHTML = objects
        } catch (error) {
            console.log(error);
        }
    }
</script>
{% endblock %}